#hammer {
    height: 200px;
    transition: 0.1s;
}

#hammer:active {
    rotate: -45deg;
}

.workers {
    height: 100px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 30%;
}

.workers:active {
    scale: 1.1;
}

body {
    background-image: url("assets/images/bgimg.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: ghostwhite;
}

#top {
    border-radius: 50%;
    background-image: url("assets/images/money.png");
    background-size: cover;
    -webkit-text-stroke: thin #9d4708;
}

#section-1 {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.childCard {
    background-color: #333333;
    width: 200px;
    border-radius: 30px;
}

#money-counter {
    color: #f6f6f6;
    font-size: xx-large;
    animation-name: size;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-play-state: running;

}


@keyframes size {
    from {scale: 1.3}
    to {scale: 1}
}

#money {
    position: fixed;
    left: 4%;
    top: 4%;
    background-color: #331500;
    padding: 20px;
    border-radius: 6px;
    width: 150px;
    height: 150px;
}

#plus-one {
    position: absolute;

}